/*simple grid system*/
.col-1-1,.grid{width:100%}.grid:after,[class*=grid],[class*=col-],[class*=mobile-]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}[class*=col-]{float:left;min-height:1px;padding-right:20px}.grid-pad,[class*=col-] [class*=col-]:last-child{padding-right:0}.grid{max-width:1020px;min-width:748px;margin:0 auto;overflow:hidden}.grid:after{content:"";display:table;clear:both}.grid-pad{padding-top:20px;padding-left:20px}.push-right{float:right}.col-2-3,.col-8-12{width:66.66%}.col-1-2,.col-6-12{width:50%}.col-1-3,.col-4-12{width:33.33%}.col-1-4,.col-3-12{width:25%}.col-1-5{width:20%}.col-1-6,.col-2-12{width:16.667%}.col-1-7{width:14.28%}.col-1-8{width:12.5%}.col-1-9{width:11.1%}.col-1-10{width:10%}.col-1-11{width:9.09%}.col-1-12{width:8.33%}.col-11-12{width:91.66%}.col-10-12{width:83.333%}.col-9-12{width:75%}.col-5-12{width:41.66%}.col-7-12{width:58.33%}.push-2-3,.push-8-12{margin-left:66.66%}.push-1-2,.push-6-12{margin-left:50%}.push-1-3,.push-4-12{margin-left:33.33%}.push-1-4,.push-3-12{margin-left:25%}.push-1-5{margin-left:20%}.push-1-6,.push-2-12{margin-left:16.667%}.push-1-7{margin-left:14.28%}.push-1-8{margin-left:12.5%}.push-1-9{margin-left:11.1%}.push-1-10{margin-left:10%}.push-1-11{margin-left:9.09%}.push-1-12{margin-left:8.33%}@media handheld,only screen and (max-width:767px){.grid{width:100%;min-width:0;margin-left:0;margin-right:0;padding-left:20px;padding-right:20px}[class*=col-]{width:auto;float:none;margin:10px 0;padding-left:0;padding-right:10px}[class*=col-] [class*=col-]{padding-right:0}[class*=mobile-col-]{float:left;margin:0 0 10px;padding-left:0;padding-right:10px;padding-bottom:0}.mobile-col-1-1{width:100%}.mobile-col-2-3,.mobile-col-8-12{width:66.66%}.mobile-col-1-2,.mobile-col-6-12{width:50%}.mobile-col-1-3,.mobile-col-4-12{width:33.33%}.mobile-col-1-4,.mobile-col-3-12{width:25%}.mobile-col-1-5{width:20%}.mobile-col-1-6,.mobile-col-2-12{width:16.667%}.mobile-col-1-7{width:14.28%}.mobile-col-1-8{width:12.5%}.mobile-col-1-9{width:11.1%}.mobile-col-1-10{width:10%}.mobile-col-1-11{width:9.09%}.mobile-col-1-12{width:8.33%}.mobile-col-11-12{width:91.66%}.mobile-col-10-12{width:83.333%}.mobile-col-9-12{width:75%}.mobile-col-5-12{width:41.66%}.mobile-col-7-12{width:58.33%}.hide-on-mobile{display:none!important;width:0;height:0}}

@media handheld,only screen and (max-width:767px) {
  .grid {
      width: 100%;
      min-width: 0;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
  }

  [class*='col-'] {
      width: auto;
      float: none;
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px !important;
  }

}


@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,900');

body{
	background: white;
  font-family: 'Raleway', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-size: 13px;
  font-weight: 400;
  color: #484848;
}

li{
	list-style: none;
}

a, button{
  outline: none;
	-webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}

a:focus, button:focus{
  outline: none !important;
  border: 0;
}

.clr{
  clear: both;
}

h1{
  line-height: 45px;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 900;
  color: #ffffff !important;
}

h2{
  font-size: 30px;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 600;
  padding-bottom: 40px;
  padding-top: 0;
  margin-top: 0;
}

p{
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 25px;
}


.clr{
	clear: both;
}

.text-bold{
  font-weight: bold;
}

/*common*/

.text-right{
  text-align: right !important;
}

.text-left{
  text-align: left !important;
}

.text-center{
  text-align: center !important;
}
.relative{
  position: relative;
}
.grey-bg{
  background-color: #fafafa;
}


header{
  width: 100%;
  padding: 14px 80px;
  background-color: #fffffff0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all ease 0.3s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.transparent-bg{
  background-color: transparent;
  transition: all ease 0.3s;
  box-shadow: none;
}

header img.logo{
  width: 100px;
}
header nav{
  float: right;
  text-align: right;
  padding-top: 6px;
}
header nav a{
  margin-left: 50px;
  color: #000000;
}

section{
  padding: 80px 0;
}


.main-widget .grid{
  max-width: 1010px;
}

.banner-widget{
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #eeeeee;
  background-color: #fafafa;
}

.banner-widget h1{
  font-size: 48px;
  line-height:60px;
  margin-bottom: 20px;
}
.nestaway-logo img{
  width: 150px;
}

.banner-image{
  position: relative;
  height: 100vh;
  background-image: url(../images/banner.jpg);
  background-size: cover;
}

.banner-text{
  padding: 100px 0 0 80px;
}

.banner-text .btn-default{
  background-color: transparent !important;
  color: white !important;
  padding: 10px 15px !important;
}

.banner-form{
  padding: 100px 0 0 80px;
}

.banner-form span{
  display: block;
}

span.text1{
  font-size: 16px;
  padding-bottom: 20px;
}

span.text2{
  font-size: 30px;
}

.card{
  position: relative;
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #e2e2e2;
  height: 450px;
  border-radius: 3px;
}

.card h3{
  font-size: 20px;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 400;
  padding-bottom: 20px;
  line-height: 28px;
  padding-top: 0;
  margin-top: 0;
}

.card p{
  font-size: 13px;
  color: #676666 !important;
}

.card img{
  position: absolute;
  bottom: 20px; 
  right: 0;
  height: auto;
}

.house-sec img{
  display: block;
  width: 100%
}

.house-sec p{
  color: #787878 !important;
}

.house-card{
  color: #484848;
  transition: all .3s ease;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,.1);
  border: 1px solid #eee;
  cursor: pointer;
}
.house-card:hover{
  box-shadow: none;
}

.link{
  transition: all .3s ease;
}

.house-card:hover .link{
  color: #00aea9;
}

.house-card h3{
  padding-top: 0;
  margin-top: 0;
}

.house-card .content{
  padding: 30px 0;
}

.price-details{
  display: block;
  padding-bottom: 20px;
  font-size: 20px;
  color: #646464;
}

.banner-form-inner{
  padding-top: 20px;
}

.banner-form-inner .section{
  padding-bottom: 10px;
}

.banner-form-inner .section b{
  font-weight: normal;
}

.banner-form-inner .btn-default{
  border-radius: 0 !important;
  border-color: black !important;
  padding: 15px 30px;
  margin-top: 20px;
}

.banner-form-inner .btn-default:hover{
  background-color: #ff5561;
  border-color: #ff5561 !important;
  color: #ffffff;
  font-weight: bold !important;
}

input[type=radio], input[type=checkbox] {
  display:none;
}
input[type=radio] + label {
  background-color: transparent !important;
  border-radius: 0;
  margin-right: 6px !important;
  text-decoration: line-through;
  color: red;
  cursor: default;
  transition: all .3s ease;
}
input[type=radio] + label:hover{
  text-decoration: none;
  transition: all .3s ease;
}
input[type=radio] + label, input[type=checkbox] + label {
  display:inline-block;
  width:auto;
  margin:0px;
  padding-top: 10px;
  padding-right: 20px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-weight:normal;
  text-transform:capitalize;
}
input[type=radio]:checked + label, input[type=checkbox]:checked + label{
  background-image: none;
  outline: 0;
  color: #000000;
  border-color: #00a59e !important;
  text-decoration: none;
  color: #484848;
  font-size: 30px;
  transition: all .3s ease;
}

